* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 36vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 28px;
}

.para {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 20px;
}

.song-container {
  background-color: #152850;
  width: 100vw;
  padding: 30px;
}

.search-card {
  border: 1px solid #cbd5e1;
  width: 260px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #cbd5e1;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #cbd5e1;
}

.song-banner {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}

.list-container {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.not-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.not {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 600;
}
